#main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

nav {
  width: 20svw;
  color: #8FC988;
}

li {
  text-align: left;
}

/* Sidebar {
  width: 600px;
} */

Canvas {
  height: 100%;
  width: 100%;
  min-height: 50vh;
}